<section class="row background">
  <div class="col-md-3"></div>

  <section class="col-md-6 round-form">
    <h3>Edit "<%= resource.name %>"</h3><hr>

    <form method="post" action="/resources/<%= resource._id %>">
      <input type="hidden" name="_method" value="put">

      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" value="<%= resource.name %>"  name="name" id="name">
      </div>

      <div class="form-group">
        <label for="format">Format</label>
        <select class="form-control" name="format" id="format">
          <option>Video</option>
          <option>Docs</option>
          <option>Lessons</option>
        </select>
      </div> 

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="4" type="text" name="description" id="description"><%= resource.description %></textarea>
      </div>

      <div class="form-group">
        <label for="link">Link</label>
        <input class="form-control" type="text" placeholder="http://" value="<%= resource.link %>" name="link" id="link">
      </div>

      <div class="form-group">
        <label for="pros">Pros</label>
        <textarea class="form-control" rows="4" type="text" name="pros" id="pros"><%= resource.pros %></textarea>
      </div>

      <div class="form-group">
        <label for="cons">Cons</label>
        <textarea class="form-control" rows="4" type="text" name="cons" id="cons"><%= resource.cons %></textarea>
      </div>

      <input class="btn btn-default" type="submit">
    </form>
  </section>

  <div class="col-md-3"></div>
</section>