<section class="row background">
  <div class="col-md-3"></div>

  <section class="col-md-6 round-form">
    <h3>Edit "<%= resource.name %>"</h3><hr>

    <form method="post" action="/resources/<%= resource._id %>">
      <input type="hidden" name="_method" value="put">

      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" value="<%= resource.name %>"  name="name" id="name">
      </div>

      <div class="form-group">
        <label for="avatar_url">Resource Photo</label>
        <input type="file" id="file_input"/>
        <p id="status">Please select a file</p>
        <img style="border:1px solid gray;width:300px;" id="preview" src=<% if ( resource.avatar_url == null) { "/images/placeholder.png" %>
        <% } else { %>"<%= resource.avatar_url %>"
        <% } %>/>
        <input type="hidden" id="avatar_url" name="avatar_url" value=<% if ( resource.avatar_url == null) { "/images/placeholder.png" %>
        <% } else { %>"<%= resource.avatar_url %>"
        <% } %>/>
        <p class="help-block">Example block-level help text here.</p>
        <input type="checkbox" id="avatar_url" name="avatar_url" value="/images/placeholder.png">Delete Picture
      </div>

      <div class="form-group">
        <label for="format">Format</label>
        <select class="form-control" name="format" id="format">
          <option>Video</option>
          <option>Docs</option>
          <option>Lessons</option>
        </select>
      </div> 

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="4" type="text" name="description" id="description"><%= resource.description %></textarea>
      </div>

      <div class="form-group">
        <label for="link">Link</label>
        <input class="form-control" type="text" placeholder="http://" value="<%= resource.link %>" name="link" id="link">
      </div>

      <div class="form-group">
        <label for="pros">Pros</label>
        <textarea class="form-control" rows="4" type="text" name="pros" id="pros"><%= resource.pros %></textarea>
      </div>

      <div class="form-group">
        <label for="cons">Cons</label>
        <textarea class="form-control" rows="4" type="text" name="cons" id="cons"><%= resource.cons %></textarea>
      </div>

      <input class="btn btn-default" type="submit">
    </form>
  </section>

  <div class="col-md-3"></div>
</section>

<script type="text/javascript">

/*
    Function to carry out the actual PUT request to S3 using the signed request from the app.
*/
function upload_file(file, signed_request, url){
    console.log(file)
    var xhr = new XMLHttpRequest();
    xhr.open("PUT", signed_request);
    xhr.setRequestHeader('x-amz-acl', 'public-read');
    xhr.onload = function() {
        if (xhr.status === 200) {
            document.getElementById("preview").src = url;            
            document.getElementById("avatar_url").value = url;
        }
    };
    xhr.onerror = function() {
        console.log("in error")
        alert("Could not upload file."); 
    };
    xhr.send(file);
}

/*
    Function to get the temporary signed request from the app.
    If request successful, continue to upload the file using this signed
    request.
*/
function get_signed_request(file){
    var xbr = new XMLHttpRequest();
    xbr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
    xbr.onreadystatechange = function(){
        if(xbr.readyState === 4){
            if(xbr.status === 200){
                var response = JSON.parse(xbr.responseText);
                upload_file(file, response.signed_request, response.url);
            }
            else{
                alert("Could not get signed URL.");
            }
        }
    };
    xbr.send();
}

/*
   Function called when file input updated. If there is a file selected, then
   start upload procedure by asking for a signed request from the app.
*/
function init_upload(){
    console.log("here");
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(file == null){
        alert("No file selected.");
        return;
    }
    get_signed_request(file);
}


/*
   Bind listeners when the page loads.
*/
(function() {
    document.getElementById("file_input").onchange = init_upload;
    //document.getElementById("file_input").addEventListener("click", function(){   console.log('Hello '); })
})();

</script>