<section class="row">
  <div class="col-md-12">
		<div class="part">
			<h1>Resources</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <% if (user) { %>
      <p><a class="btn btn-primary btn-md" href="/resources/new" role="button">Add a Resource</a></p>
      <% } %>
		</div>
  </div>
</section>

<section class="row background">
  
    <% resources.forEach(function(resource){ %>
      <div class="col-md-3">
        <section class="namecard">
          <div class="icon">
            <% if (resource.photo) { %>
              <img src="<%= resource.photo %>">
            <% } else { %>
              <img src="./../images/placeholder.png">
            <% } %>
          </div>
          <h3><%= resource.name %></h3> 
          <p><%= resource.format %></p> 
          <p><%= resource.description %></p> 
          <h3>Pros:</h3>  
          <p><%= resource.pros %></p>
          <h3>Cons:</h3> 
          <p><%= resource.cons %></p>
          <p><a class="btn btn-primary btn-sm" href="<%= resource.link %>" role="button">Visit Site</a></p> 
          <% if (user) { %>
           <!--  <div class="btn btn-danger glyphicon glyphicon-trash" id="<%= resource.id %>"></div> -->
           <button class="delBtn" id="<%= resource.id %>">delete</button>
          <% } %>    
        </section>
      </div>
    <% }) %>

    <script type="text/javascript">
      $('.delBtn').click(callDelete)
      function callDelete(){
        console.log(this.id)
        $.ajax({
            url: '/resources/' + this.id,
            type: 'DELETE',
            success: function(result) {
                //console.log(result)
                //hack for forcing page reload
                //location.reload()
            }
        })
    };
​
​
</script>

</section>