<section class="row">
  <div class="col-md-12">
		<div class="part">
			<h1>Resources</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <% if (user) { %>
      <p><a class="btn btn-primary btn-md" href="/resources/new" role="button">Add a New Resource</a></p>
      <% } %>
		</div>
  </div>
</section>

<section class="row background">
  
    <% resources.forEach(function(resource){ %>
      <div class="col-md-3">
        <section class="resource-card">
          <div class="icon">
            <% if (resource.photo) { %>
              <img src="<%= resource.photo %>">
            <% } else { %>
              <img src="./../images/placeholder.png">
            <% } %>
          </div>
          <h3><%= resource.name %></h3> 
          <p><strong><%= resource.format %></strong></p> 
          <p><%= resource.description %></p><hr>

          <% if (resource.pros) { %>
            <h4>Pros:</h4>  
            <p><%= resource.pros %></p><hr>
          <% } %>

          <% if (resource.cons) { %>
            <h4>Cons:</h4> 
            <p><%= resource.cons %></p><hr>
          <% } %>

          <p><a class="btn btn-primary btn-md btn-full" href="<%= resource.link %>" target="_blank" role="button">Visit Site</a></p>
          
          <% if (user) { %>
            <p><a class="btn btn-info btn-md glyphicon glyphicon-pencil btn-half-left" href="resources/<%= resource._id %>/edit" role="button"></a><a class="btn btn-danger btn-md glyphicon glyphicon-trash btn-half-right" role="button" id="<%= resource._id %>"></a></p>
          <% } %>
        </section>
      </div>
    <% }) %>

    <script type="text/javascript">
      $(function(){
        $('.btn.glyphicon-trash').click(callDelete)
        function callDelete(){
          console.log(this.id)
          $.ajax({
              url: '/resources/' + this.id,
              type: 'DELETE',
              success: function(result) {
                  console.log(result)
                  //hack for forcing page reload
                  location.reload()
              }
          })
        };
      })
    </script>
    
</section>