<section class="row background">
  <div class="col-md-3"></div>

  <section class="col-md-6 round-form">
    <h3>Profile Settings</h3><hr>

    <form method="post" action="/mentors/<%= user._id %>">
      <input type="hidden" name="_method" value="put">

      <div class="form-group">
        <label for="first_name">Frist Name</label>
        <input class="form-control" type="text" value="<%= user.first_name %>" name="first_name" id="first_name">
      </div>

      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input class="form-control" type="text" value="<%= user.last_name %>" name="last_name" id="last_name">
      </div>
      
      <div class="form-group">
        <label for="photo">Profile Photo</label>
        <input type="file" id="photo">
        <p class="help-block">Example block-level help text here.</p>
      </div>

      <div class="form-group">
        <label for="intro">Introduction</label>
        <textarea class="form-control" rows="4" type="text" name="intro" id="intro"><%= user.intro %></textarea>
      </div>

      <div class="form-group">
        <label for="headline">Headline</label>
        <input class="form-control" type="text" value="<%= user.headline %>" name="headline" id="headline">
      </div>

      <div class="form-group">
        <label for="focus">Focus</label>
        <select class="form-control" name="focus" id="focus">
          <option>Game Design</option>
          <option>Web Development</option>
          <option>Software Development</option>
          <option>Cyber Security</option>
        </select>
      </div>

      <div class="form-group">
        <label for="company">Company</label>
        <input class="form-control" type="text" value="<%= user.company %>" name="company" id="company">
      </div> 

      <div class="form-group">
        <label for="company_link">Company Website</label>
        <input class="form-control" type="url" value="<%= user.company_link %>" name="company_link" id="company_link">
      </div> 

      <div class="form-group">
        <label for="location">Location</label>
        <input class="form-control" type="text" value="<%= user.location %>" name="location" id="location">
      </div>

      <div class="form-group">
        <label for="education">Education</label>
        <textarea class="form-control" rows="4" type="text" name="education" id="education"><%= user.education %></textarea>
      </div> 

      <div class="form-group">
        <label for="personal_link">Personal Website</label>
        <input class="form-control" type="url" value="<%= user.personal_link %>" name="personal_link" id="personal_link">
      </div> 

      <div class="form-group">
        <label for="experience">Experience</label>
        <textarea class="form-control" rows="8" type="text" name="experience" id="experience"><%= user.experience %></textarea>
      </div> 

      <div class="form-group">
        <label for="skills">Skills</label>
        <div class="checkbox">
          <label><input type="checkbox" value="Javascript" name="skills" id="skills">Javascript</label>
          <label><input type="checkbox" value="Ruby" name="skills" id="skills">Ruby</label>
          <label><input type="checkbox" value="Python" name="skills" id="skills">Python</label>
          <label><input type="checkbox" value="HTML/CSS" name="skills" id="skills">HTML/CSS</label>
        </div>
      </div> 

      <div class="form-group">
        <label for="availibility">Availibility</label>
        <textarea class="form-control" rows="4" type="text" name="availibility" id="availibility"><%= user.availibility %></textarea>
      </div> 

      <div class="form-group">
        <label for="time_zone">Time Zone</label>
        <select class="form-control" name="time_zone" id="time_zone">
          <option>Samoa Time Zone - UTC-11:00</option>
          <option>Hawaii-Aleutian Time Zone - UTC-10:00</option>
          <option>Alaska Time Zone - UTC-09:00</option>
          <option>Pacific Time Zone - UTC-08:00</option>
          <option>Mountain Time Zone - UTC-07:00</option>
          <option>Central Time Zone - UTC-06:00</option>
          <option>Eastern Time Zone - UTC-05:00</option>
          <option>Atlantic Time Zone - UTC-04:00</option>
          <option>Chamorro Time Zone - UTC+10:00</option>
        </select>
      </div> 

      <div class="form-group">
        <label for="status">Status</label>
        <div class="radio">
          <label>
            <input type="radio" name="status" id="status" value="true" checked>
            I am availible to be a mentor.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="status" id="status" value="false">
            I am NOT availible to be a mentor.
          </label>
        </div>
      </div> 

      <input class="btn btn-default" type="submit">

    </form>
  </section>
  <div class="col-md-3"></div>
</section>