<section class="row background">
  <div class="col-md-3"></div>

  <section class="col-md-6 round-form">
    <h3>Profile Settings</h3><hr>

    <form method="post" action="/mentors/<%= user._id %>">
      <input type="hidden" name="_method" value="put">

      <div class="form-group">
        <label for="first_name">Frist Name</label>
        <input class="form-control" type="text" value="<%= user.first_name %>" name="first_name" id="first_name">
      </div>

      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input class="form-control" type="text" value="<%= user.last_name %>" name="last_name" id="last_name">
      </div>
      
      <div class="form-group">
        <label for="avatar_url">Profile Photo</label>
        <input type="file" id="file_input"/>
        <p id="status">Please select a file</p>
        <img style="border:1px solid gray;width:300px;"  id="preview" src=
          <% if ( user.avatar_url == null) { %>
            "/images/profile.png"
          <% } else { %>
            "<%= user.avatar_url %>"
          <% } %>
        />
        <input type="hidden" id="avatar_url" name="avatar_url" value=
          <% if ( user.avatar_url == null) { %>
            "/images/profile.png"
          <% } else { %>
            "<%= user.avatar_url %>"
          <% } %>
        />
        <p class="help-block">Must be smaller than 4 MB.</p>
      </div>

      <div class="form-group">
        <label for="intro">Introduction</label>
        <textarea class="form-control" rows="4" type="text" name="intro" id="intro"><%= user.intro %></textarea>
      </div>

      <div class="form-group">
        <label for="headline">Headline</label>
        <input class="form-control" type="text" value="<%= user.headline %>" name="headline" id="headline">
      </div>

      <div class="form-group">
        <label for="focus">Focus</label>
        <select class="form-control" name="focus" id="focus">
          <option>Game Design</option>
          <option>Web Development</option>
          <option>Software Development</option>
          <option>Cyber Security</option>
        </select>
      </div>

      <div class="form-group">
        <label for="company">Company</label>
        <input class="form-control" type="text" value="<%= user.company %>" name="company" id="company">
      </div> 

      <div class="form-group">
        <label for="company_link">Company Website</label>
        <input class="form-control" type="url" value="<%= user.company_link %>" name="company_link" placeholder="http://" id="company_link">
      </div> 

      <div class="form-group">
        <label for="location">Location</label>
        <input class="form-control" type="text" value="<%= user.location %>" name="location" id="location">
      </div>

      <div class="form-group">
        <label for="education">Education</label>
        <textarea class="form-control" rows="4" type="text" name="education" id="education"><%= user.education %></textarea>
      </div> 

      <div class="form-group">
        <label for="personal_link">Personal Website</label>
        <input class="form-control" type="url" value="<%= user.personal_link %>" name="personal_link" placeholder="http://" id="personal_link">
      </div> 

      <div class="form-group">
        <label for="experience">Experience</label>
        <textarea class="form-control" rows="8" type="text" name="experience" id="experience"><%= user.experience %></textarea>
      </div> 

      <div class="form-group">
        <label for="skills">Skills</label>
        <div class="checkbox">
          <label><input type="checkbox" value="JavaScript" name="skills" id="skills">JavaScript</label><br>
          <label><input type="checkbox" value="Ruby" name="skills" id="skills">Ruby</label><br>
          <label><input type="checkbox" value="Python" name="skills" id="skills">Python</label><br>
          <label><input type="checkbox" value="HTML/CSS" name="skills" id="skills">HTML/CSS</label><br>
          <label><input type="checkbox" value="PHP" name="skills" id="skills">PHP</label><br>
        </div>
      </div> 

      <div class="form-group">
        <label for="availibility">Availibility</label>
        <textarea class="form-control" rows="4" type="text" name="availibility" id="availibility"><%= user.availibility %></textarea>
      </div> 

      <div class="form-group">
        <label for="time_zone">Time Zone</label>
        <select class="form-control" name="time_zone" id="time_zone" value="<%= user.time_zone %>">
          <option>Samoa Time Zone - UTC-11:00</option>
          <option>Hawaii-Aleutian Time Zone - UTC-10:00</option>
          <option>Alaska Time Zone - UTC-09:00</option>
          <option>Pacific Time Zone - UTC-08:00</option>
          <option>Mountain Time Zone - UTC-07:00</option>
          <option>Central Time Zone - UTC-06:00</option>
          <option>Eastern Time Zone - UTC-05:00</option>
          <option>Atlantic Time Zone - UTC-04:00</option>
          <option>Chamorro Time Zone - UTC+10:00</option>
        </select>
      </div> 

      <div class="form-group">
        <label for="status">Status</label>
        <div class="radio">
          <label>
            <input type="radio" name="status" id="status" value="true" checked>
            I am availible to be a mentor.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="status" id="status" value="false">
            I am NOT availible to be a mentor.
          </label>
        </div>
      </div> 

      <input class="btn btn-default" type="submit">

    </form>
  </section>
  <div class="col-md-3"></div>
</section>
<script type="text/javascript">

/*
    Function to carry out the actual PUT request to S3 using the signed request from the app.
*/
function upload_file(file, signed_request, url){
    console.log(file)
    var xhr = new XMLHttpRequest();
    xhr.open("PUT", signed_request);
    xhr.setRequestHeader('x-amz-acl', 'public-read');
    xhr.onload = function() {
        if (xhr.status === 200) {
            document.getElementById("preview").src = url;            
            document.getElementById("avatar_url").value = url;
        }
    };
    xhr.onerror = function() {
        console.log("in error")
        alert("Could not upload file."); 
    };
    xhr.send(file);
}

/*
    Function to get the temporary signed request from the app.
    If request successful, continue to upload the file using this signed
    request.
*/
function get_signed_request(file){
    var xbr = new XMLHttpRequest();
    xbr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
    xbr.onreadystatechange = function(){
        if(xbr.readyState === 4){
            if(xbr.status === 200){
                var response = JSON.parse(xbr.responseText);
                upload_file(file, response.signed_request, response.url);
            }
            else{
                alert("Could not get signed URL.");
            }
        }
    };
    xbr.send();
}

/*
   Function called when file input updated. If there is a file selected, then
   start upload procedure by asking for a signed request from the app.
*/
function init_upload(){
    console.log("here");
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(file == null){
        alert("No file selected.");
        return;
    }
    get_signed_request(file);
}


/*
   Bind listeners when the page loads.
*/
(function() {
    document.getElementById("file_input").onchange = init_upload;
    //document.getElementById("file_input").addEventListener("click", function(){   console.log('Hello '); })
})();

</script>
