<section class="row">
  <div class="col-md-4">
			<h1>Mentors</h1>
  </div>
  <section class="col-md-8">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </section>
</section>

<section class="row background">
  <div class="col-md-4">
			<div class="list-group">
			  <a href="#" class="list-group-item active">Sort</a>
			  <a href="#" class="list-group-item">Name ABC...XYZ</a>
			  <a href="#" class="list-group-item">Name ZYX...CBA</a>
			</div>

			<div class="list-group">
			  <a href="#" class="list-group-item active">Filter</a>
			  <a href="#" class="list-group-item">Location</a>
			  <a href="#" class="list-group-item">Game Design</a>
			  <a href="#" class="list-group-item">Web Design</a>
			  <a href="#" class="list-group-item">Software Development</a>
			  <a href="#" class="list-group-item">Cyber Security</a>
			</div>
  </div>

  <div class="col-md-8">
		<% users.forEach(function(mentor){ %>
			<% if (mentor.first_name && mentor.status == true) { %>
				<section class="name-card">
					<div class="avatar"><a href="mentors/<%= mentor._id %>">
						<% if (mentor.avatar_url) { %>
							<img src="<%= mentor.avatar_url %>">
						<% } else { %>
							<img src="/images/profile.png">
						<% } %>
					</a></div>
					<div class="info">
						<h2><a href="mentors/<%= mentor._id %>"><%= mentor.first_name %> <%= mentor.last_name %></a> -<span style="font-size: 18px;"> "<%= mentor.headline %>"</span></h2>
						<h3></h3>
						<% if (mentor.focus) { %>
							<p><%= mentor.first_name %>'s area of expertise is <span class="highlight"><%= mentor.focus %></span></p>
						<% } %>
						<% if (mentor.skills) { %>
							<p>The language/languages that <%= mentor.first_name %> knows are <span class="highlight"><%= mentor.skills %></span></p>
						<% } %>
						<% if (mentor.location) { %>
							<p><%= mentor.first_name %> is from <span class="highlight"><%= mentor.location %></span></p>	
						<% } %>		
					</div>
					<div style="clear:both;"></div>	
				</section>
			<% } %>
		<% }) %>

		<nav>
		  <ul class="pagination">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
</section>

