<section class="row background">
	<div class="col-md-8">
		<section class="namecard">
			<div class="avatar">
				<% if (user_profile.photo) { %>
					<img src="<%= user_profile.photo %>">
				<% } else { %>
					<img src="./../images/placeholder.png">
				<% } %>
			</div>

			<div class="info">
				<h5><%= user_profile.first_name %> <%= user_profile.last_name %></h5>
				<h5><%= user_profile.headline %></h5>
				<h5><%= user_profile.location %></h5>
			</div>

			<div style="clear:both;"></div>	
		</section>

    <section class="part">
	    <h3>Introduction</h3>
	    <p><%= user_profile.intro %></p>
	    <% if (user_profile.focus) { %>
		    <h5>Focus: <%= user_profile.focus %></h5>
	   	<% } %> 
	   	<% if (user_profile.personal_link) { %>
				<h5>Portfolio: <a href="<%= user_profile.personal_link %>" ><%= user_profile.personal_link %></a></h5>
			<% } %>
		</section>

    <% if (user_profile.skills.length >= 1 ) { %>
	    <section class="part">
		    <h3>Skills</h3>
		    <p><%= user_profile.skills %></p>
			</section>
		<% } %>

    <% if (user_profile.experience) { %>
	    <section class="part">
		    <h3>Work Experience</h3>
		    <p><%= user_profile.experience %></p>
				<h5>Company: <a href="<%= user_profile.company_link %>" ><%= user_profile.company %></a></h5>
			</section>
		<% } %>

    <% if (user_profile.education) { %>
	    <section class="part">
		    <h3>Education</h3>
		    <p><%= user_profile.education %></p>
			</section>
		<% } %>
  </div>
		
  <div class="col-md-4">
    <% if (user_profile.status == true ) { %>
	    <section class="btn-primary">
		    <h4>Send <%= user_profile.first_name %> an email using our request form!</h4>
			</section>
	    <section class="part">
	    	<h3>Availibility</h3>
		    <h5><%= user_profile.availibility %></h5>
				<h5>Time Zone: <%= user_profile.time_zone %></h5>
			</section>
		<% } else { %>
	    <section class="btn-primary">
		    <h4>Sorry, <%= user_profile.first_name %> is not currently able to be a mentor.</h4>
			</section>
		<% } %>

		<% if (user == null) { %>
		<% } else if (user._id == user_profile._id) { %>
			<section class="btn-primary">
		    <a href="<%= user._id %>/edit"><h4>Edit</h4></a>
			</section>
			<form method="post" action="/mentors/<%= user._id %>">
				<input type="hidden" name="_method" value="delete" />
				<button type="submit">Delete</button>
			</form>
		<% } %>
</div>

<!--    <section class="part">
			    <p><%= user_profile.experiences %></p>
		    	<h5>Name: <%= user_profile.first_name %></h5>
					<h5>Name: <%= user_profile.last_name %></h5>
					<h5>Headline: <%= user_profile.headline %></h5>
					<h5>Photo: <%= user_profile.photo %></h5>
					<h5>Location: <%= user_profile.location %></h5>
					<h5>Focus: <%= user_profile.focus %></h5>
					<h5>Intro: <%= user_profile.intro %></h5>
					<h5>Company: <%= user_profile.company %></h5>
					<h5>company_link: <%= user_profile.company_link %></h5>
					<h5>education: <%= user_profile.education %></h5>
					<h5>personal_link: <%= user_profile.personal_link %></h5>
					<h5>experiences: <%= user_profile.experiences %></h5>
					<h5>skills: <%= user_profile.skills %></h5>
					<h5>Availibility: <%= user_profile.availibility %></h5>
					<h5>Time Zone: <%= user_profile.time_zone %></h5>
					<h5>Status: <%= user_profile.status %></h5>
				</section> -->
